:root {
--yellow: hsl(60, 100%, 50%);
--orange: hsl(39, 100%, 50%);
}
@keyframes sun-animation {
  to {
    transform: rotate(1turn);
  }
}

.normal {
  display: none;
}


.counter {
  color: #ffffff;
}
.sun {
  border-radius:50%;
  height:200px;
  width:200px;
  background:var(--orange);
  box-shadow: 0 0 100px var(--yellow),
                0 0 200px var(--orange),
                0 0 400px var(--orange),
                0 0 400px var(--orange),
                0 0 500px var(--yellow),
                inset 0 0 80px var(--yellow);
  position: absolute;
  top: 30%;
  left: 45%;
}
.info {
  margin: auto;
  text-align: center;
}
.button-cool {
  background-color: #00b7b7; /* Light Blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-cool:hover {
  background-color: #009b9b; /* Blue on hover */
}

.button-cool:active {
  background-color: #005050; /* Even darker blue on click */
}
.button-heat {
  background-color: #b73400; /* Red-ish */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-heat:hover {
  background-color: #9b2400; /* Darker on hover */
}

.button-heat:active {
  background-color: #602000; /* Even darker on click */
}

/* ---------------------------------------
   SUPERNOVA
   --------------------------------------- */
body {
  background: rgb(0,0,0);
  overflow: hidden;
}
.supernova {
	position: absolute;
	top: 20vh;
	left: 50%;
	z-index: 2;
	height: 3px;
	width: 3px;
	border-radius: 50%;
	background: rgba(255,255,255, .5);
	overflow: visibility;
}

.supernova i {
	display: block;
	position: absolute;
	width: 400px;
	height: 400px;
	left: -200px !important;
	top: -200px !important;
	border-radius: 50%;
	opacity: 0;
	animation-name: supernova;
	animation-duration: 25s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

.supernova i:nth-child(1) {
	animation-delay: 0.3s;
}

.supernova i:nth-child(2) {
	animation-delay: 0.6s;
}

.supernova i:nth-child(3) {
	animation-delay: 0.9s;
}

.supernova i:nth-child(4) {
	animation-delay: 1.2s;
}

.supernova i:nth-child(5) {
	animation-delay: 1.5s;
}

.supernova i:nth-child(6) {
	animation-delay: 1.8s;
}

.supernova i:nth-child(7) {
	animation-delay: 2.1s;
} 

.supernova i:nth-child(8) {
	animation-delay: 2.4s;
}

.supernova i:nth-child(9) {
	animation-delay: 2.7s;
}

.supernova i:nth-child(10) {
	animation-delay: 3s;
}

@keyframes supernova {
	0%,
	30% {
		transform: scale(0.01) translate(0px, 0px);
		opacity: 0;
		background-color: rgba(205, 55, 0, 0.3);
		box-shadow: 0px 0px 8rem rgba(255, 140, 0, 0.3); 
	}
	45% {
		transform: scale(0.15) translate(0px, 0px);
		opacity: 1;
		background-color: rgba(205, 55, 0, 0.9); 
		box-shadow: 0px 0px 12rem rgba(255, 140, 0, 0.3);
	}
	60% {
		transform: scale(0.13) translate(0px, 0px);
		opacity: 1;
		background-color: rgba(255, 255, 224, 0.95);
		box-shadow: 0px 0px 7rem rgba(255, 255, 224, 0.3);
	 }
	75% {
		transform: scale(0.2) translate(-5px, -5px);
		opacity: 1;
		background-color: rgba(255, 255, 224, 0.5);
		box-shadow: 0px 0px 9rem rgba(255, 255, 255, 0.65);
	}
	85% {
		transform: scale(0.3) translate(-5px, -5px);
		opacity: 1;
		background-color: rgba(255, 255, 255, 0.95);
		box-shadow: 0px 0px 15rem rgba(255, 255, 255, 0.75); 
	}
	98% {
		transform: scale(0.4) translate(-10px, -10px);
		opacity: 1;
		background-color: rgba(255, 255, 255, 0);
		box-shadow: 0px 0px 30rem rgba(255, 255, 255, 0.85);
	}
	100% {
		transform: scale(20) translate(-20px, -20px);
		opacity: 0;
		box-shadow: 0px 0px 15rem rgba(255, 255, 255, 0.3);
	}
}

